@charset "UTF-8";

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

label, h1{
    
    margin-left: 10px;
} 
form{
    width: 190px;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 5px;
}
form input{
    display: block;
}

input{
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 4px;
}