@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


/*DICA: Três ou quatro familia de fontes é o sufuciente para um site */
body {
    font-family: 'Work Sans', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.536);
}

h1{
    font-family: 'Fredericka the Great', cursive, Times New Roman, Times, serif;
    font-size: 3em;
    color: black;
    font-weight: normal;
}

h2{
    font-family: 'Kaushan Script', cursive, Times New Roman, Times, serif;
    font-size: 2em;
    color: black;
}










/* Meu teste com icones do Google Icons */
.material-symbols-outlined {
    color: Red;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 66
}