@charset "UTF-8";

/* Hierarquia de Tabelas (Simples) TABLE=TABELA (table);
    TABLE ROW=LINHA DA TABELA (tr);
        TABLE HEADER=CABEÇALHO DE TABELA (th);
            TABLE DATA=DADO DE TABELA (td); 
            
            
  Anatomia para Tabelas Grandes
            TABLE = TABELA
                CAPTION = LEGENDA DA TABELA
                     SOMENTE TEXTO   
                THEAD = CABEÇA DA TABELA
                      TR, TD, TH;
                TBODY = CORPO DA TABELA
                      TR, TD, TH;
                TFOOT = RODAPÉ DA TABELA
                      TR, TD, TH;
*/


body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 500px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px;


}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;

    /* Minha config */
    border: 2px solid black;
}

/* th-CABEÇALHO DE TABELA */
th {
    color: white;
}

/* td-DADO/CÉLULA */
td {
    color: black;
}

.populacao {
    width: 50px;
}

thead, tfoot {
    background-color: #383838;
    color: white;
}

/* nth-child(2n) de duas em duas vai defindo a propriedade-2n->alteravel*/
/* odd->par ou even->impar */
/* odd ou 2n-1 */
tbody > tr:nth-child(odd){
    background-color: rgb(197, 210, 245);
    text-decoration: underline;
}
/* even ou 2n */
tbody > tr:nth-child(even){
    background-color: rgb(236, 229, 164);
    font-weight: 600;
}

td.num {
    text-align: right;
}