@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 500px;
    border-collapse: collapse;
}

caption{
    font-size: 1.3em;
    font-weight: bolder;
    padding: 8px;
}

th,td{
    border:  1px solid black;
    padding: 8px;
}

.cnome{
    background-color: aqua;
}

.cgrupo{
    background-color: rgb(221, 255, 127);
}